In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset=pd.read_csv(r"/home/infinitex/Desktop/JupiterNotebook/Iris.csv")

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  149 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   149 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
dataset.isna().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [7]:
df=pd.DataFrame(dataset)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,NaN,NaN,NaN,NaN,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.isna().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [9]:
df.fillna(df.mean(numeric_only=True))

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.848322,3.051007,3.774497,1.205369,Iris-setosa
1,2,4.900000,3.000000,1.400000,0.200000,Iris-setosa
2,3,4.700000,3.200000,1.300000,0.200000,Iris-setosa
3,4,4.600000,3.100000,1.500000,0.200000,Iris-setosa
4,5,5.000000,3.600000,1.400000,0.200000,Iris-setosa
...,...,...,...,...,...,...
145,146,6.700000,3.000000,5.200000,2.300000,Iris-virginica
146,147,6.300000,2.500000,5.000000,1.900000,Iris-virginica
147,148,6.500000,3.000000,5.200000,2.000000,Iris-virginica
148,149,6.200000,3.400000,5.400000,2.300000,Iris-virginica
149,150,5.900000,3.000000,5.100000,1.800000,Iris-virginica